Vectorized string operations in pandas refer to performing string manipulations on entire Series (i.e., columns of text data) at once, rather than using a Python for loop on each element. This is efficient, faster, and uses underlying optimized C code (via NumPy or other backends).

we can use any string method by writting

df["col name"].str.functionname(params)

In [1]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David']
})

# Convert all names to lowercase
df['name_lower'] = df['name'].str.lower()

# Check if name starts with 'A'
df['starts_with_A'] = df['name'].str.startswith('A')

# Replace characters
df['name_no_e'] = df['name'].str.replace('e', '')

print(df)

      name name_lower  starts_with_A name_no_e
0    Alice      alice           True      Alic
1      Bob        bob          False       Bob
2  Charlie    charlie          False    Charli
3    David      david          False     David

In [4]:
df[df['name'].str.contains("a")]

      name name_lower  starts_with_A name_no_e
2  Charlie    charlie          False    Charli
3    David      david          False     David